.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  padding: 10px;
  height: 50px;
}

.header {
  display: flex;
  color: purple;
  background-color: white;
  width: fit-content;
  padding: 8px;
  border-radius: 6px;
}

.image {
  width: 30px;
  height: 30px;
}
